body {
  background-color: rgb(255, 255, 255);
}


.grid-container {
 
    display: grid;
    grid-template-columns: 255px 255px 255px;
    background-color: #72a145;
    padding: 10px;
    grid-gap: 10px;
    position: absolute;
    box-shadow: 0px 0px 10px 10px rgb(71, 70, 70);
    
    /* max-width: 500px; */
    margin: auto;
   
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: flex;
    align-items: center;
    justify-content: center;
    
  }


  h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 3px #72a145;
  }
  
  div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
